{% extends 'base.html' %}

{% block content %}
    <h1>{{ event.name }}</h1>
    <p><strong>Descriere:</strong> {{ event.description }}</p>
    <p><strong>Locație:</strong> {{ event.location }}</p>
    <p><strong>Data și ora:</strong> {{ event.date|date:"d-m-Y H:i" }}</p>

    {% if event.theme %}
        <p><strong>Temă:</strong> {{ event.theme }}</p>
    {% endif %}

    {% if event.decorations %}
        <p><strong>Decoruri:</strong> {{ event.decorations }}</p>
    {% endif %}

    {% if event.playlist %}
        <p><strong>Playlist:</strong> <a href="{{ event.playlist.url }}">Ascultă playlist-ul</a></p>
    {% endif %}

    <p><strong>Bilete disponibile:</strong> {{ available_tickets }}</p> <!-- Folosește variabila din context -->

    {% if available_tickets > 0 %}
        <a href="{% url 'ticket_purchase' event.id %}">Cumpără Bilet</a>
    {% else %}
        <p>Nu mai sunt bilete disponibile.</p>
    {% endif %}
{% endblock %}






